<div>
    <div class="gray-container text-left">
        <div>
            <!-- {% for person in birthday_persons %}
                {% if person.image  %}
                    <img src="{{ person.image }}" title="{{ person.name }}">
                {% endif %}
            {% endfor %} -->
        </div>
      <div style="margin-top: 15px">
        <!-- <span>{{ reminder_text }}</span> -->
        Hare Krishna! <br>
        Your registration for <b>BONFIRE YOUTH PARTY</b> is greatly appreciated. Prepare yourself for an evening of transcendence, ignition and sublime enjoyment. We can't wait to share this spiritual experience with you. Haribol!<br>

        <p style="color: rgb(255, 0, 0);">Please note that the schedule has been updated. We kindly request you to arrive at the Vrindavan Garden Entrance Desk by <b>05:00 PM</b><p>
        <br>
        <p class="text-muted">QR Code for Entry 👇</p><br>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=400x400&chl={{ qr_code }}" title="QR">
        <br>
        <a href="https://goo.gl/maps/6T1Jft2MojaqYX8p8">Venue</a>
      </div>
</div>